@model IEnumerable<GameOfLife.App.Model.Game>

@foreach (var item in Model)
{
    <div>
        <h3>Title: @item.Title</h3>
        <p>Created: @item.CreatedDateTime</p>
        <canvas id="saved-game-@item.Id" data-game="@item.Data"></canvas>
        <button onclick="loadSaved(@item.Id)">Load</button>
    </div>
}
